.accordion{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
.container{
    position: relative;
    background-color: aqua;
    padding: 10px;
    margin-bottom: 20px;
}
.accordion-title{
    position: relative;
    cursor: pointer;
    padding: 10px;
}
.accordion-title::before{
    content: ' + ';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 25px;
}
.accordion-description{
    width: 100%;
    font-size: 20px;
    height: 0;
    overflow: hidden;
    position: relative;
    transition: 0.5s linear;
}
.container.active .accordion-description{
    height: 150px;
}
.container.active .accordion-title::before{
    content: ' - ';
    font-size: 25px;
}
a {
    text-decoration: none;
}
/* ყველა ელემენტზე მოქმედება */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
.navbar-wraper{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    position: relative;
    padding: 20px;
}
ul {
    display: flex;
}
li {
    margin: 10px;
}
.toggle-button{
    position: absolute;
    top: 20px;
    right: 20px;
    color: aqua;
    font-size: 25px;
    display: none;
}
@media(max-width:768px){
    .toggle-button{
        display: block;
    }
    .navbar{
        display: none;
    }
}
