.accordion{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}
.container{
    position: relative;
    background-color: aqua;
    padding: 10px;
    margin-bottom: 20px;
}
.accordion-title{
    position: relative;
    cursor: pointer;
    padding: 10px;
}
.accordion-title::before{
    content: ' + ';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 30px;
}
.accordion-description{
    width: 100%;
    font-size: 20px;
    height: 0;
    overflow: hidden;
    position: relative;
    transition: 0.5s linear;
}
.container.active .accordion-description{
    height: 150px;
}
.container.active .accordion-title::before{
    content: ' - ';
    font-size: 30px;
}
a {
    text-decoration: none;
}
/* ყველა ელემენტზე მოქმედება */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ul{
    list-style-type: none;
}
.navbar-wraper{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    position: relative;
    padding: 20px;
    height: 50px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burgerbar1{
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    transition: 0.5s linear;
    background-color: black;
}
.toggle-button{
    position: absolute;
    top: 20px;
    right: 20px;
    color: red;
    font-size: 25px;
    display: none;
    cursor: pointer;
}
.active{
    display: block;
}
@media(max-width:768px){
    .toggle-button{
        display: block;
    }
    .navbar{
        display: none;
    }
    .navbar-wraper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .ul{
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: fixed;
    }
    li {
        margin: 15px 0;
    }
    .navbar.activeNavigation{
        display: block;
        transition: 0.5s;
    }
}
@media(max-width:768px){
    .burger{
        display: block;
    }
    .burger.active.burgerbar1:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active.burgerbar1:nth-child(2){
        display: none;
    }
    .burger.active.burgerbar1:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
